.photographer-header {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 40px;
  font-family: 'Merriweather', serif;
  letter-spacing:.1em
}
.styles-product-div{
  margin-right: 1.25rem;
margin-bottom: 1.25rem;
width: 300px;
}
.card{
  background-color: #ffffff;
border-radius: 4px;
box-shadow: 0 2px 4px rgba(31,31,31,0.12);
display: inline-block;
position: relative;
width: 100%;
}
.product-images-container{
  background-color: #e5e5e5;
  width:290px !important;
  height: 190.656px !important;
    overflow: hidden;

    position: relative;
    width: 100%;
    height: auto;
}
#photographers-container {
  flex-wrap: wrap;
margin-right: 90px;
margin-left: 90px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 30px;
  justify-content: space-around;
  font-family: 'Merriweather', serif;
  letter-spacing:.1em
}

 .product-images{
width: 100%; object-fit: contain;
justify-content: center;
}
/* .product-images {
  margin: 24px 30px 20px 15px;
  width: 280px;
  height: 360px;
  border: 10px;

  margin-left: 10px;

} */

.product-images:hover {
  border: 2px solid #777;
  border-color: #eb7171
}
/* position like heart in an image */
.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #787878;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}
.product-images:hover .img__description {
  visibility: visible;
  opacity: 1;
}
